@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}  
body{
    background-color: rgba(255, 192, 203, 0.158);
    margin-left:200px;  
    margin-top:60px;
   padding-left: -100;
}
.whole{
    border: 5px solid rgb(255, 255, 255);
    box-shadow : 0px 0px 5px 5px rgba(128, 128, 128, 0.101);
    border-radius: 10px;
    background-color: white;
    height: 580px;
    width: 1070px;
   
}
.line1{
    margin-left:-5px;
    margin-top:-35px;
    margin-right:-6px;
    border: 1px solid rgba(123, 123, 123, 0.492);
    color:rgba(123, 123, 123, 0.492) ;
}
.header{
    transform: translateX(490px);
    margin-top:25px;
    font-weight: bold;
    font-size: x-large;
    color: rgb(18, 149, 18);
    flex-basis: 20%;
}
form{
    transform: translateX(350px);
}
.lefttopbut{
    color: rgb(2, 151, 2); 
    font-weight: bold;
    background-color: white;
    margin-left: 880px;
    border: 1px solid rgba(128, 128, 128, 0.279);
    border-radius: 5px;
   transform: translateY(-40px);
    box-shadow: 0px 0px 2px 2px rgba(128, 128, 128, 0.199);
    padding: 10px 26px 10px 26px;
}
.lefttop{
    margin-left: 670px;
    transform: translateY(10px);
    color:rgba(123, 123, 123, 0.492) ;
}
.mailbox{
    padding-top:40px; 
    font-weight: bold;
 
}
#mailid{
    border: 2px solid rgba(123, 123, 123, 0.301);
    border-radius:5px;
    width:375px;
    height: 28px;  
}
::placeholder{
    color:rgba(123, 123, 123, 0.492) ;
    margin-top:-40px;
    padding-left:7px;
    font-size: small;
}
.passwordbox{
    transform: translateX(0px);
    margin-top:-30px;
    font-weight: bold;
}
.forgetbox{
    transform: translateY(3px);
    margin-left:240px;
    font-weight: bold;
    color: rgba(0, 0, 255, 0.748);
}
#password{
    border: 2px solid rgba(123, 123, 123, 0.301);
    border-radius:5px;
    width:375px;
    height: 28px;
}
.buttonbox{
    margin-top:40px;
    margin-left: 0px;
}
.but{
    padding: 10px 160px 10px 160px;
    color: white;
    border: 1px solid green;
    font-size: 18px;
    font-weight: bold;
    border-radius:5px;
    background-color: rgb(10, 167, 10);
}
.line2{
    margin-top:100px;
    margin-left:-355px;
    margin-right:345px;
    border: 1px solid rgba(123, 123, 123, 0.492);
    color:rgba(123, 123, 123, 0.492) ;
}
.follow{
    margin-left:920px;
    transform: translateY(-30px);
    
}
.icons{
    margin-left:1000px;
    transform: translateY(5px);
    margin-top:0px;
}
.copi{
    font-size: small;
   transform: translateY(-65px);
}
@media screen and (max-width:600px){
    .Container{
        padding:none;
        margin:auto;
        transform: none;
        transform: translateY(-600px);
        margin-left: -210px;
    }
    .whole{
        width:250px;
        height: 320px;
        
    }
   body{
       padding-top:690px;
       padding-left:80px;
       padding-right:300px;
    }
    .header{
      transform: translateX(85px);
      margin-top:10px;
      font-size:20px;
    }
    form{
        
        padding-left:-100px;
        transform: translateX(250px);
    }
    .lefttopbut{
           
        margin-left: 166px;
        font-size:9px;
       transform: translateY(-36px);
       padding: 3px 2px 3px 2px; 
       
    }
.lefttop{
        margin-left: 58px;
        font-size:9px;
        transform: translateY(-4px);
    }
    .line1{
        transform: translateY(-5px);
    }
    #mailid{
        width:130px;
        height: 15px;
    }
    .mailbox{
        margin-top:-35px;
        font-size:13px;
        margin-bottom:-15px;
    }
    .inputbox{
        transform: translateX(-200px);
    }
    .forgetbox{
        transform: translateY(20px);
        margin-left:80px;
        font-size: 11px;
    }
    #password{
        
        width:130px;
        height: 15px;
    }
    .passwordbox{
        transform: translateY(25px);
        font-size:13px;
    }
    
    
    .buttonbox{
        margin-top:50px;
        margin-left: 0px;
    }
    .but{
        padding: 5px 50px 5px 50px;   
        font-size: 13px;
    }
    .line2{
        transform: translateX(300px);
        margin-top:40px;
        
     }
    .copi{
        margin-left:1px;
            transform: translateY(-53px);
            font-size:10px;
    }
  .follow{
            margin-left:170px;
            transform: translateY(-29px);
            font-size:10px;
            
        }
 

     .icons{
            margin-left:215px;
           
            font-size: 10px;
            transform: translateY(-6px);
        }
}
